{% extends "template.twig" %}

{% set tab_obras = true %}

{% set includes %}
    {#
    <script src="{{twig_path_includes}}/js/jquery.easing.1.3.js"></script>
    <script src="{{twig_path_includes}}/js/jquery.fitvids.js"></script>
    <script src="{{twig_path_includes}}/js/jquery.bxslider.min.js"></script>
    <script src="{{twig_path_includes}}/js/banner.js"></script>
    #}
    <link href="{{twig_path_includes}}/css/obrasRealizadas.css" type="text/css" rel="stylesheet"/>
    <style>
        .box-obras{
            border-top: solid 3px #A4A294;
            background-color: white;
            padding: 10px;
        }
        .box-obras img{
            vertical-align: middle;
            margin: 5px;
            padding: 2px;
            border: 3px solid #E76930;
            -webkit-border-radius: 10px;
               -moz-border-radius: 10px;
                    border-radius: 10px;
        }
    </style>
    <script>
        $().ready(function(){
            $(".fancybox").fancybox();
        });
    </script>
{% endset%}

{% block content %}

<h2>Obras realizadas</h2>
<div class="box-obras">
    {% for Obra in obras['rows'] %}
        <a href="{{Obra.getImageUrl()}}" class="fancybox" rel="obras">
            <img src="{{Obra.getImageUrl(150)}}"/>
        </a>
    {% endfor %}
</div>

{% endblock %}