{% extends "template.twig" %}

{% set tab_obras = true %}

{% set includes %}
    <script src="{{twig_path_includes}}/js/jquery.easing.1.3.js"></script>
    <script src="{{twig_path_includes}}/js/jquery.fitvids.js"></script>
    <script src="{{twig_path_includes}}/js/jquery.bxslider.min.js"></script>
    <script src="{{twig_path_includes}}/js/banner.js"></script>
    <link href="{{twig_path_includes}}/css/obrasRealizadas.css" type="text/css" rel="stylesheet"/>
    <style>.bxslider > li{ text-align: center; }</style>
{% endset%}

{% block content %}

<h2>Obras realizadas</h2>
<div id="slide-show">
    <div class="bt-nav bt-nav-esq"></div>
    <ul class="bxslider">
        {% for Obra in obras['rows'] %}
        <li>
            <img src="{{Obra.getImageUrl(650)}}"/>
        </li>
        {% endfor %}
    </ul>
    <div class="bt-nav bt-nav-dir"></div>
</div>

{% endblock %}