{% extends "templates/template_1/painel-online.twig" %}

{% block content %}

{% set action = Modelo.getID() ? url_module~'/alterar/'~Projeto.getSlug()~'/'~Modelo.getSlug() : url_module~'/criar/'~Projeto.getSlug() %}

<form method="post" action="{{action}}" class="form-ajax" role="form" enctype='multipart/form-data'>

    {# col-xs-11 col-sm-12 #}
    <div class="form-group col-sm-12">
        <label>Projeto</label>
        <input type="text" class="form-control" readonly value="{{Projeto.getTitulo()}}"/>
    </div>
    
    <div class="form-group col-sm-12">
        <label>Nome do Modelo</label>
        <input type="text" class="form-control" name="titulo" value="{{Modelo.getTitulo()}}"/>
    </div>
    
    <div class="form-group col-sm-12">
        <label>Adicionar Imagem</label>
        <p><input type="file" name="file[]"/></p>
        <p><input type="file" name="file[]"/></p>
        <p><input type="file" name="file[]"/></p>
    </div>
    
    
    {% if imagens %} 
        <div class="form-group col-sm-12" id="dv_imgs">
            <label>Imagens do projeto</label><br/>
    
        {% for id,imagem in imagens %}
            <div style="float: left; border:2px solid #999; margin: 4px 10px 4px 0px; padding: 4px 10px 4px 4px;" id="dv_{{id}}">
                <img src="{{imagem}}"/> <a href="#" onclick="excluir({{id}});return false;" style="color: red;">Excluir</a>
            </div>
        {% endfor %} 
        
        </div>
        <div style="clear: both;"></div>
    {% endif %} 

    <br/>
    <div class="form-group col-sm-12">
        <label>
            <button type="submit" class="btn btn-primary btn-submit">Salvar alterações</button>
        </label>
    </div>

</form>

<script>
    function excluir(id)
    {
        $('#dv_'+id).remove();        
        input = $('<input/>').attr('type','hidden').attr('name','file_excluir[]').val(id);
        $('#dv_imgs').append(input);        
    }
</script>

{% endblock %}