{% extends "templates/template_1/painel-online.twig" %}

{% block content %}

{% if projetos['cont_total'] > 0 %}

<ul>
    {% for Projeto in projetos['rows'] %}
    <li><a href="{{Projeto.getSlug()}}">{{Projeto.getTitulo()}}</a></li>
    {% endfor %}
</ul>

{% else %}

<center>
    <br/>
    <i>Nenhum projeto cadastrado</i>
</center>

{% endif %}

<br/><br/>
<p>
    <a href="{{url_module}}/novo" class="btn btn-primary">Cadastrar novo projeto</a>
</p>

{% endblock %}