{% extends "templates/template_1/painel-online.twig" %}

{% block content %}

<a href="{{url_mode}}/projeto/visualizacao/{{Projeto.getSlug()}}">Visualizar projeto {{Projeto.getTitulo()}}</a>
<br/><br/>

<div>

    {# col-xs-11 col-sm-12 #}
    <div class="form-group col-sm-12">
        <label>Nome do Projeto</label>
        <input type="text" class="form-control" readonly value="{{Projeto.getTitulo()}}"/>
    </div>
    
    <div class="form-group col-sm-12">
        <label>Nome do Modelo</label>
        <input type="text" class="form-control" readonly value="{{Modelo.getTitulo()}}"/>
    </div>
    
    {% if imagens %} 
        <div class="form-group col-sm-12">
            <label>Imagens do projeto</label><br/>
    
        {% for imagem in imagens %}
            <img src="{{imagem}}"/>
        {% endfor %} 
        
        </div>
    
    {% endif %} 
    <br/>
    
    <div class="form-group col-sm-12">
        <label>
            <a href="{{url_module}}/edicao/{{Projeto.getSlug()}}/{{Modelo.getSlug()}}" class="btn btn-primary">Alterar dados e imagens do modelo</a>
        </label>
        <label>
            &nbsp;&nbsp;
            <a href="{{url_module}}/excluir/{{Projeto.getSlug()}}/{{Modelo.getSlug()}}" class="btn btn-danger" onclick="return confirm('Deseja realmente excluir este modelo e todos os seus anexos?')">Excluir modelo</a>
        </label>
    </div>

</div>

{% endblock %}