<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link href="css/reset.css" type="text/css" rel="stylesheet"/>
        <link href="css/estrutura.css" type="text/css" rel="stylesheet"/>
        <link href="css/empresa.css" type="text/css" rel="stylesheet"/>
        <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:300,400|Inconsolata&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <script src="js/jquery-1.11.0.min.js"></script>
        <script src="js/jquery-rnt-tabs.js"></script>

        <!--[if IE]><script src="js/html5shiv.js"></script><![endif]-->
    </head>
    <body>
        <!--[if IE]><div>UTILIZE O CHROME</div><![endif]-->
    <main>
        <header id="cabecalho">
            <div id="bannerTopo"><a href="index.php"><img src="img/logo.png" alt="CWB Brazilians"/></a></div>

            <nav>
                <ul>
                    <li><a href="index.php" title="Projetos">Projetos</a></li>
                    <li><a href="obrasRealizadas.php" title="Obras realizadas">Obras realizadas</a></li>
                    <li><a href="contato.php" title="Contato">Contato</a></li>
                    <li class="selecionado"><a href="empresa.php" title="A Empresa">A Empresa</a></li>
                </ul>
            </nav>
        </header>

        <div id="conteudo">
            <h1>A empresa</h1>
            <div id="a-empresa">
                <h2>Quem somos</h2>
                <p>
                    Contando com profissionais especializados com experiência na área.
                    E pensando em você, cliente, nossa maior preocupação é elaborar contratos transparentes, atento é claro, aos mínimos detalhes.
                    Unindo profissionalismo, responsabilidade, design e tecnologia, a Casas Curitiba ultrapassou fronteiras e hoje exporta o seu trabalho para vários países da Europa principal
                </p>
                <h2>O que oferecemos</h2>
                <ul>
                    <li>Atendimento personalizado</li>
                    <li>Opção na escolha dos acabamentos </li>
                    <li>A melhor tecnologia </li>
                    <li>Mão de obra treinada e especializada </li>
                    <li>Rigorosa equipe de supervisão e manutenção </li>
                    <li>Execução de projetos personalizados </li>
                    <li>Praticidade e rapidez </li>
                    <li>Segurança 5 anos de garantia</li>
                    <li>Tudo isso sempre considerando a melhor relação custo / beneficio</li>
                </ul>
                <h2>Nossas casas</h2>
                <p>
                    Para que possamos oferecer o melhor para nossos clientes, mantemos sempre atualizado nossos produtos com o que há de melhor no mercado. Casas em madeira de lei maciça, placas de concreto com ferragens armadas e alvenaria convencional. Design moderno. O melhor acabamento. Esquadrias em madeira de lei, fabricada de acordo com o projeto. Telhas de barro natural. O melhor aproveitamento para o seu espaço. 
                    Desde já nos colocamos ao inteiro dispor para quaisquer informações adicionais.
                </p>
            </div>
        </div>

        <footer id="rodape">
            <dl>
                <dt>Telefones :</dt>
                <dd class="oper-tim">+55 (41) 9601-5967</dd>
                <dd class="oper-vivo">+55 (41) 9159-8191</dd>
                <dd class="oper-oi">+55 (41) 8486-0542</dd>
                <dd class="oper-claro">+55 (41) 8835-9640</dd>
            </dl>
            <p class="copyright">Copyright &copy; 2014 - CWB Brazilians - Todos os Direitos Reservados.</p>
        </footer>
    </main>
</body>
</html>