<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link href="css/reset.css" type="text/css" rel="stylesheet"/>
        <link href="css/estrutura.css" type="text/css" rel="stylesheet"/>
        <link href="css/obrasRealizadas.css" type="text/css" rel="stylesheet"/>
        <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:300,400|Inconsolata&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <script src="js/jquery-1.11.0.min.js"></script>
        <script src="js/banner.js"></script>
        <!--[if IE]><script src="js/html5shiv.js"></script><![endif]-->
    </head>
    <body>
        <!--[if IE]><div>UTILIZE O CHROME</div><![endif]-->
    <main>
        <header id="cabecalho">
            <div id="bannerTopo"><a href="index.php"><img src="img/logo.png" alt="CWB Brazilians"/></a></div>

            <nav>
                <ul>
                    <li><a href="index.php" title="Projetos">Projetos</a></li>
                    <li class="selecionado"><a href="obrasRealizadas.php" title="Obras realizadas">Obras realizadas</a></li>
                    <li><a href="contato.php" title="Contato">Contato</a></li>
                    <li><a href="empresa.php" title="A Empresa">A Empresa</a></li>
                </ul>
            </nav>
        </header>

        <div id="conteudo">
            <h2>Obras realizadas</h2>
            <div id="slide-show">
                <span class="bt-nav-esq"> << </span>
                <span class="slides">
                    <span class="slides-content">
                        <div class="slide">
                            <img src="img/projeto-casa.jpg"/>
                        </div>
                        <div class="slide">slide 02</div>
                        <div class="slide">slide 03</div>
                        <div class="slide">slide 04</div>
                    </span>
                </span>
                <span class="bt-nav-dir"> >> </span>
            </div>
        </div>

        <footer id="rodape">
            <dl>
                <dt>Telefones :</dt>
                <dd class="oper-tim">+55 (41) 9601-5967</dd>
                <dd class="oper-vivo">+55 (41) 9159-8191</dd>
                <dd class="oper-oi">+55 (41) 8486-0542</dd>
                <dd class="oper-claro">+55 (41) 8835-9640</dd>
            </dl>
            <p class="copyright">Copyright &copy; 2014 - CWB Brazilians - Todos os Direitos Reservados.</p>
        </footer>
    </main>
</body>
</html>