<!DOCTYPE html>
<html>
    {% set url_tpl = twig_path_includes %}
    <head>
        <meta charset="UTF-8">
        
        {% if openGraph %}
            <meta property="og:description" content="{{openGraph.description|striptags}}"/>
            <meta property="og:site_name" content="{{openGraph.site_name}}">
            <meta property="og:title" content="{{openGraph.title}}">
            <meta property="og:url" content="{{openGraph.url}}">
            <meta property="og:image" content="{{openGraph.image}}">
        {% endif %}
        
        <title>{{ page.title ? page.title : openGraph.title }}</title>
        {#
        <script src="{{url_tpl}}/js/jquery-1.11.0.min.js"></script>
        <script src="{{url_tpl}}/js/jquery-rnt-tabs.js"></script>
        #}
        <script src="{{url}}/media/libs/jquery/jquery-1.9.1.min.js"></script>
        <script src="{{url}}/media/libs/jquery/jquery.form.js"></script>
        <script src="{{url}}/media/libs/jquery/jquery-ui-1.10.3.custom.min.js"></script>
        
        
        <link rel="stylesheet" href="{{url}}/media/libs/flexslider/flexslider.css" type="text/css">
        <script src="{{url}}/media/libs/flexslider/jquery.flexslider.js"></script>
        
        
        <link href="{{url_tpl}}/css/reset.css" type="text/css" rel="stylesheet"/>
        <link href="{{url_tpl}}/css/estrutura.css" type="text/css" rel="stylesheet"/>
        <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:300,400|Inconsolata&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

        {{includes|raw}}
        
        <script src="{{url}}/media/libs/fancyapps/source/jquery.fancybox.js"></script>
        <link href="{{url}}/media/libs/fancyapps/source/jquery.fancybox.css" type="text/css" rel="stylesheet"/>
        
        <script>
            $(function() {
                $("#tabs").tabs({
                    activate: function( event, ui ){
                        $(".selected").removeClass('selected');
                        $(ui.newTab).addClass('selected');
                    }
                });
            });
            
            {# Analytics #}
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-50416851-1', 'braziliancasas.com.br');
            ga('send', 'pageview');
            {# End Analytics #}
            
        </script>
        <style>
            #tabs *:focus{ outline: 0; }
        </style>
        
        <!--[if IE]><script src="js/html5shiv.js"></script><![endif]-->
    </head>
    <body>
        <!--[if IE]><div>UTILIZE O CHROME</div><![endif]-->
    <main>
        <header id="cabecalho">
            <div id="bannerTopo">
                <a href="index.php"><img src="{{url_tpl}}/img/logo.png" alt="CWB Brazilians"/></a>
                <ul id="idioma">
                    <li class="bt-bra"><a href="{{url_to_lang}}pt-br" title="Português">Português</a></li>
                    <li class="bt-esp"><a href="{{url_to_lang}}es" title="Español">Español</a></li>
                    <li class="bt-usa"><a href="{{url_to_lang}}eng" title="English">English</a></li>
                </ul>
            </div>

            <nav>
                <ul>
                    <li class="{{tab_projetos ? 'selecionado' : ''}}"><a href="{{url}}" title="Projetos">{{_translate('menus','PROJ')}}</a></li>
                    <li class="{{tab_obras ? 'selecionado' : ''}}"><a href="{{url}}/obras-realizadas" title="Obras realizadas">{{_translate('menus','OBRA')}}</a></li>
                    <li class="{{tab_contato ? 'selecionado' : ''}}"><a href="{{url}}/contato" title="Contato">{{_translate('menus','CONT')}}</a></li>
                    <li class="{{tab_empresa ? 'selecionado' : ''}}"><a href="{{url}}/quem-somos" title="A Empresa">{{_translate('menus','EMPR')}}</a></li>
                </ul>
            </nav>
        </header>

        <div id="conteudo">{% block content %}{% endblock %}</div>

        {% set tel_oi = getBlooco('contato_tel_oi') %}
        {% set tel_tim = getBlooco('contato_tel_tim') %}
        {% set tel_vivo = getBlooco('contato_tel_vivo') %}
        {% set tel_claro = getBlooco('contato_tel_claro') %}
        
        <footer id="rodape">
            {% if tel_oi or tel_tim or tel_vivo or tel_claro %}
            <dl>
                <dt>Telefones :</dt>
                {% if tel_tim %}
                <dd class="oper-tim">{{tel_tim}}</dd>
                {% endif %}
                
                {% if tel_vivo %}
                <dd class="oper-vivo">{{tel_vivo}}</dd>
                {% endif %}
                
                {% if tel_oi %}
                <dd class="oper-oi">{{tel_oi}}</dd>
                {% endif %}
                
                {% if tel_claro %}
                <dd class="oper-claro">{{tel_claro}}</dd>
                {% endif %}
            </dl>
            {% endif %}
            <p class="copyright">Copyright &copy; 2014 - CWB Brazilians - Todos os Direitos Reservados.</p>
        </footer>
    </main>
</body>
</html>