#conteudo{
    background-image: url('../img/bg_contato.jpg');
    background-repeat: no-repeat;
    padding-left: 330px !important;
}

#conteudo p{
    margin: 5px;
}

#conteudo form {
    border-top:solid 3px #A4A294;
    background-color: white;
    padding-left: 60px;
    padding-top: 35px;

}

#conteudo form label{
    display: inline-block;
    width: 130px;
}

#conteudo form input[type='text'], #conteudo form input[type='email']{
    width: 437px;
}

#conteudo form textarea{
    width: 580px;
    height: 180px;
}

#conteudo form .labelTextArea{
    width: 230px;
}