#conteudo {
    padding-left: 380px!important;  
    
    padding-right: 20px;
    background-image: url('../img/bg_a_empresa.jpg');
    background-repeat: no-repeat;
}

#conteudo #a-empresa{
    border-top:solid 3px #A4A294;
    height: 520px;
    padding: 20px;
    padding-top: 0px;
    background-color: white;
    overflow-y:scroll; 
}

#conteudo ul{
    padding-left: 30px;
}

#conteudo ul li{
    list-style: disc;
     margin-bottom: 5px;
}


