*{
    font-family: 'Duru Sans', sans-serif;
}
* a{
    color:#4F4F51;
}
body{
    background-color: white;
    background-image:url('../img/bg_barra_menu.png');
    background-position-y: 162px;
    background-repeat: repeat-x;
}

h1{
    margin-bottom: 24px;
    font-size: large;
    color:#5D5D5D;
}

h2{
    margin: 24px 0px;
    font-size: large;
    color:#E76930;
}

h3{
    margin: 15px 0px;
    font-size: 16px;
}

p{
    font-size: medium;
    line-height: 22px;
    text-indent:10px;
    margin: 5px;
    margin-bottom: 10px;
}

main{
    display: table;
    width: 1064px;
    margin: auto;
    /*background-color: white;*/
}

main #cabecalho{
    /*background-color: red;*/
    background-image:url('../img/bg_fundo.png');
    background-position: center top;
    background-repeat: no-repeat;

}

main #cabecalho #bannerTopo{
    height: 122px;
    margin-left: 165px;
    padding-top: 40px;
}

main #cabecalho nav{
    /*background-image:url('../img/bg_barra_menu.png');*/
    height: 50px;
    padding-top: 3px;
}
main #cabecalho nav ul{
    display: table;
    margin-left: 10px;
}

main #cabecalho nav ul li{
    /*background-image:url('../img/bg_barra_menu.png');*/
    float: left;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    margin: 10px 3px;
}

main #cabecalho nav ul li a{
    display: block;
    /*width: 138px;*/
    text-align: left;
    padding: 7px 20px;
    /*padding-left: 15px;*/
    color:white;
}

main #conteudo{
    border-style:solid;
    border-width: 0 1px;
    border-color:#A4A294;
    background-color: #F1F1F1;
}


main #conteudo {
    padding: 20px;
}

main header nav ul li:hover, main header nav ul .selecionado{
    background-image: url('../img/bt_menu_selecionado.png');
}

main header nav ul li:hover{
    background-position-y: -37px;
}

main footer {
    background-image: url("../img/bg_rodape.png"); 
    background-repeat: no-repeat;
    height: 160px;
    padding-top: 25px;
    font-family: 'Inconsolata', sans-serif;
    color:white;
}
/*****   Telefones  **********************/
main footer dl{
    padding-left: 25px; 
    width: 230px;
}

main footer dt{
}

main footer dd{
    padding-left: 30px;
    padding-top: 4px;
    line-height: 17px;
    font-size: small;
}

main footer .oper-tim,main footer .oper-claro,main footer .oper-oi, main footer .oper-vivo{
    background-repeat: no-repeat;
    background-position: right;
}

main footer .oper-tim{
    background-image: url("../img/operadora-tim.png"); 
}
main footer .oper-vivo{
    background-image: url("../img/operadora-vivo.png"); 
}  

main footer .oper-oi{
    background-image: url("../img/operadora-oi.png"); 
}
main footer .oper-claro{
    background-image: url("../img/operadora-claro.png"); 
} 
/*****   Telefones  **********************/

main footer .copyright{
    text-align: center;
    font-size: x-small;
    margin-bottom: 10px;
}

form{
    font-family: 'Inconsolata', sans-serif;
}

form input[type='submit']{
    width: 125px;
    height: 41px;
    background-color: transparent;
    background-image: url("../img/bg_botao.png"); 
    border:none;
    color: white;
    font-size: large;
}

form input[type='submit']:hover{
    background-position-y: -41px; 
}

form label{
    text-align: left;
}

form input, form textArea{
    height: 28px;
    border:solid 1px #929095;
    margin-bottom: 15px;
    padding:0 10px; 
    background-color:#F1F1F1;
}

/*** Begin: IDIOMAS ************************************************/
main #cabecalho #bannerTopo #idioma{
    position: relative;
    float: right;
    right: 2px;
}
main #cabecalho #bannerTopo #idioma li a{
    display: block;
    background-image:url('../img/bt_idiomas.png');
    background-repeat:  no-repeat;
    background-position-x: 10px;
    /*width: 40px;*/
    width: 75px;
    height: 36px;
    margin-bottom: 5px;
    text-indent: -3000px;
    -webkit-transition: background-position-x 0.3s; /* For Safari 3.1 to 6.0 */
    transition: background-position-x 0.3s;
}

main #cabecalho #bannerTopo #idioma li a:hover{
    background-position-x: 0px;
}

main #cabecalho #bannerTopo #idioma .bt-esp a{
    background-position-y:-37px;
}
main #cabecalho #bannerTopo #idioma .bt-usa a{
    background-position-y:-74px;
}
/*** End: IDIOMAS ************************************************/

.btn-facebook{
    background-color: #4e69a2;
    border-color: #435a8b #3c5488 #334c83;
    color: #fff;
    line-height: 22px;
    padding: 3px 16px;
    text-decoration: none;
    font-family: Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
    -webkit-background-clip: padding-box;
    border: 1px solid;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0 1px 1px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
}
.btn-facebook:hover{
    background-color: #2d2d6a;
}