h2{
    margin-left: 90px;
}

#conteudo #slide-show{
    display: table; 
    height: 434px;

}

#conteudo #slide-show .bt-nav, #conteudo #slide-show .bx-wrapper{
    float: left;
   
}
#conteudo #slide-show .bx-wrapper{
    width: 834px;
    border: solid 0px blue;
    padding: 10px;
     background-color: white;
     border-top:solid 3px #A4A294;
}

#conteudo #slide-show .bt-nav{
    height: 434px;
    width: 84px;
    background-image:  url('../img/slide-show-bt.png');
    background-repeat: no-repeat;
    cursor: pointer;
}
#conteudo #slide-show .bt-nav:hover{
    background-position-y: -434px;
}

#conteudo #slide-show .bt-nav-dir{
    background-position-x: -84px;

}
.bx-pager {
    display: table;
    margin: 10px;
}
.bx-pager-item {
    float: left;
}
.bx-pager-item a{
    display: block;
    font-size: 0px;
    width: 10px;
    height: 10px;
    background-color: #fab351;
    margin-right: 5px;
    -moz-border-radius:12px;
    -webkit-border-radius:12px;
    border-radius:12px;
    border:solid 1px #e76930;
}

.bx-pager-item .active{
    background-color: #e76930;
    border:solid 1px #fab351;
}