#conteudo{
    display: table;
    padding-right: 10px;
}
#conteudo #projetos{
    float: left;
}
#conteudo #projetos ul{

}
#conteudo #projetos ul li a, #conteudo #projetos ul li .selecionado {
    display:block;
    width:156px;
    background-image: url('../img/bg_botao_modelos.png');
    background-position-y: 0;
    padding:15px 10px;
    padding-left: 65px;
    margin-top: 10px;
    line-height: 22px;
    font-size: medium;
}

#conteudo #projetos ul li a:hover {
    background-position-y: -53px;
}

#conteudo #projetos ul li .selecionado {
    background-position-y: -106px;
}


#conteudo #tabs{
    float: left;
    width: 740px;
    margin-left: 10px;
    padding: 20px;

}

#conteudo #tabs div{
    padding: 15px;
    height: 650px;
    border-top:solid 3px #A4A294;
    background-color: white;
}

#conteudo #tabs ul{
    display: table;
}

#conteudo #tabs .tab li{
    float: left;
    height: 28px;
}

#conteudo #tabs .tab li a{
    display: block;
    margin-right: 3px;
    padding: 5px 20px;
    border:solid 1px #cccccc;
    border-bottom: none;
    background-color: white;
    -moz-border-radius:10px 10px 0 0;
    -webkit-border-radius:10px 10px 0 0;
    border-radius:10px 10px 0 0;
}

#conteudo #tabs .tab .selected a{
    background-image: url('../img/bg_tabs.png');
    color: white;
}

#conteudo #tabs .tab .selected a{
    color: white;
}


#conteudo #tabs form label{
    display: inline-block;
    width: 145px;
    font-size: smaller;
}

#conteudo #tabs form .inputTam01{
    width: 425px;
}

#conteudo #tabs form .inputTam02{
    width: 45px;
    margin-right: 60px;
}

#conteudo #tabs form .inputTam03{
    width: 150px;
}

#conteudo #tabs form .labelTextArea{
    width: 230px;
}

#conteudo #tabs form textarea{
    width: 570px;
    height: 180px;
}

#conteudo #tabs .planta-baixa{
    background-image: url('../img/bg_download_projetos.jpg');
    background-repeat: no-repeat;
    height: 624px;
    padding-left: 445px;
}

#conteudo #tabs .planta-baixa li a{
    display: block;
    background-image: url('../img/bg_botao_download.png');
    background-repeat: no-repeat;
    width: 170px;
    line-height: 21px;
    padding: 15px 25px;
    margin-bottom: 20px;
}

#conteudo #tabs .planta-baixa li a:hover{
    background-position-y: -52px;
}

