{% set projetos = _getProjetos() %}
<nav id="projetos">
    <ul>
        {% for Proj in projetos['rows'] %}
        {% set selected = (projeto_selecionado == Proj.getSlug()) ? "selecionado" : "" %}
        <li>
            <a href="{{url}}/projetos/detalhes/{{Proj.getSlug()}}" class="{{selected}}">{{Proj.getTitulo()}}</a>
        </li>
        {% endfor %}
    </ul>
</nav>