{# OBRIGATÓRIO INFORMAR UMA VARIÁVEL "Projeto" com o objeto do projeto selecionado #}

<div id="tabs">
    <h1>{{Projeto.getTitulo()}}
        
        {% if openGraph %}
            <a href="#" class="btn-facebook"
               style="float:right;"
               onclick="
                 window.open(
                   'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('{{openGraph.url}}'),
                   'facebook-share-dialog',
                   'width=626,height=436');
                 return false;">
               Compartilhar no Facebook
             </a>
        {% endif %}
    
    </h1>
    
    <ul class="tab">
        <li class="selected"><a href="#tabs-1">{{_translate('abas_projeto','MODE')}}</a></li>
        <li><a href="#tabs-2">{{_translate('abas_projeto','MEMO')}}</a></li>
        <li><a href="#tabs-3">{{_translate('abas_projeto','PLAN')}}</a></li>
        <li><a href="#tabs-4">{{_translate('abas_projeto','ORCA')}}</a></li>
    </ul>
    <div id="tabs-1" style="display:table;min-width:90%;vertical-align: text-top">

        {% if imagens and imagens > 0 %}
        <div class="flexslider" style="width:90%;margin:auto;height: auto;">
            <ul class="slides">
                {% for url in imagens %}
                    <li><img src="{{url}}"/></li>
                {% endfor %}
                {#
                <li><a href="http://www.pikachoose.com"><img src="../../1.jpg"/></a><span>This is an example of the basic theme.</span></li>
                #}
            </ul>
	</div>
        <br/>
        <br/>
        <br/>
        {% endif %}
        
        {{Projeto.getDescricao()|raw}}
        
        
        <script>
            $().ready(function(){
                $('.flexslider').flexslider();
                
                {#
                $('.home-slider').flexslider({
                    animation: "fade",
                    controlNav: true,
                    keyboardNav: true
                });
                #}
                
            });
        </script>
    </div>
    <div id="tabs-2" style="overflow-x: auto !important;">
        {{Projeto.getMemorialDescritivo()|raw}}
    </div>
    <div id="tabs-3" style="display:table;">
        <script>
            {% set li = "" %}
            $().ready(function(){
            {% for Modelo in modelos['rows'] %}
                $(".fancy-{{Modelo.getSlug()}}").fancybox({
                    loop: false,
                    beforeLoad: function(){
                        done = true;
                        this.group.push(
                            {% set princ_img_url = "" %}
                            {% set push_param = "" %}

                            {% for image_url in Modelo.listaImagens(800) %}
                                {% set princ_img_url = image_url %}
                                    
                                {% set push_param = push_param~(push_param is empty ? "" : ",") %}
                                {% set push_param = push_param~'{ href: "'~image_url~'", type: "image", isDom: false }' %}
                            {% endfor %}

                            {{push_param|raw}}
                         );
                    }
                });
                {% set li = li~"<li><a href='"~princ_img_url~"' class=\"fancy-"~Modelo.getSlug()~"\">"~Modelo.getTitulo()~"</a></li>" %}
            {% endfor %}
            });
        </script>

        <ul class="planta-baixa">{{li|raw}}</ul>
    </div>
    <div id="tabs-4" style="overflow-x: auto !important;">
        <h2>Solicitação de orçamento para este modelo:</h2>
        <div class="contato-enviado" style="color:green;display:none;">
            <br/>
            <center><b>Contato enviado com sucesso!</b></center>
        </div>
        <form method='post' action="{{url}}/projetos/enviar-contato" class="form-contato">
            <input type="hidden" name="projeto" value="{{Projeto.getSlug()}}"/>
            <p><label>Seu nome:</label><input type="text" name="nome" class="inputTam01"  required="required"/></p>
            <p>
                <label>DDD:</label><input type="text" name="ddd"  class="inputTam02"  required="required"/> 
                <label>Telefone:</label><input type="text" name="telefone"  class="inputTam03"  required="required"/>
            </p>
            <p><label>E-mail:</label><input type="email" name="email" class="inputTam01" required="required"/></p>
            <p><label>Local da construção:</label><input type="text" name="local" class="inputTam01" required="required"/></p>
            <p><label class="labelTextArea">Digite sua Mensagem:</label></p>
            <p>
                <textarea name="mensagem"></textarea>
            </p>
            <p><input type="submit" value="Enviar" style="cursor:pointer;"/></p>
        </form>
        <script>
            $("form").ajaxForm({
                dataType: "json",
                success: function(data){
                    if( data.status ){
                        $('.form-contato').hide();
                        $('.contato-enviado').show();
                    }else{
                        alert(data.msg);
                    }
                }
            });
        </script>
    </div>
</div>