{% extends "template.twig" %}

{% 
    set openGraph = { 
        site_name: "Brazilian Casas", 
        description: Projeto.getDescricao('text'), 
        title: "Projeto "~Projeto.getTitulo(), 
        url: url~'/projetos/detalhes/'~Projeto.getSlug(), 
        image: (imagens and imagens > 0) ? imagens[0] : twig_path_includes~"/img/logo.png"
    } 
%}

{% set tab_projetos = true %}

{% block content %}

<link href="{{url_tpl}}/css/projetos.css" type="text/css" rel="stylesheet"/>

{% include "projetos/menu_lat.twig" %}

{% include "projetos/tabs_projeto.twig" %}

{% endblock %}