{% extends "template.twig" %}

{% set tab_empresa = true %}

{% block content %}

<link href="{{url_tpl}}/css/empresa.css" type="text/css" rel="stylesheet"/>

<h1>A empresa</h1>
<div id="a-empresa" style="display:table;">
    <h2>Quem somos</h2>
    <p>
        Contando com profissionais especializados com experiência na área.
        E pensando em você, cliente, nossa maior preocupação é elaborar contratos transparentes, atento é claro, aos mínimos detalhes.
        Unindo profissionalismo, responsabilidade, design e tecnologia, a Casas Curitiba ultrapassou fronteiras e hoje exporta o seu trabalho para vários países da Europa principal
    </p>
    <h2>O que oferecemos</h2>
    <ul>
        <li>Atendimento personalizado</li>
        <li>Opção na escolha dos acabamentos </li>
        <li>A melhor tecnologia </li>
        <li>Mão de obra treinada e especializada </li>
        <li>Rigorosa equipe de supervisão e manutenção </li>
        <li>Execução de projetos personalizados </li>
        <li>Praticidade e rapidez </li>
        <li>Segurança 5 anos de garantia</li>
        <li>Tudo isso sempre considerando a melhor relação custo / beneficio</li>
    </ul>
    <h2>Nossas casas</h2>
    <p>
        Para que possamos oferecer o melhor para nossos clientes, mantemos sempre atualizado nossos produtos com o que há de melhor no mercado. Casas em madeira de lei maciça, placas de concreto com ferragens armadas e alvenaria convencional. Design moderno. O melhor acabamento. Esquadrias em madeira de lei, fabricada de acordo com o projeto. Telhas de barro natural. O melhor aproveitamento para o seu espaço. 
        Desde já nos colocamos ao inteiro dispor para quaisquer informações adicionais.
    </p>
</div>

{% endblock %}