{% extends "templates/template_1/painel-online.twig" %}

{% block content %}

<form method="post" action="{{url_module}}/contato-salvar" class="form-ajax" role="form">

    {# col-xs-11 col-sm-12 #}
    <div class="form-group col-sm-12">
        <label>Telefone OI</label>
        <input type="text" class="form-control" name="bloco[contato_tel_oi]" value="{{getBlooco('contato_tel_oi')}}"/>
    </div>
    
    <div class="form-group col-sm-12">
        <label>Telefone TIM</label>
        <input type="text" class="form-control" name="bloco[contato_tel_tim]" value="{{getBlooco('contato_tel_tim')}}"/>
    </div>
    
    <div class="form-group col-sm-12">
        <label>Telefone VIVO</label>
        <input type="text" class="form-control" name="bloco[contato_tel_vivo]" value="{{getBlooco('contato_tel_vivo')}}"/>
    </div>
    
    <div class="form-group col-sm-12">
        <label>Telefone CLARO</label>
        <input type="text" class="form-control" name="bloco[contato_tel_claro]" value="{{getBlooco('contato_tel_claro')}}"/>
    </div>
    
    <div class="form-group col-sm-12">
        <label>E-mail para contato</label>
        <input type="text" class="form-control" name="bloco[contato_email_princ]" value="{{getBlooco('contato_email_princ')}}"/>
    </div>



    <div class="form-group col-sm-12">
        <label>
            <button type="submit" class="btn btn-primary">Salvar alterações</button>
        </label>
    </div>
</form>

{% endblock %}