

#conteudo #slide-show{
    display: table; 
    background-color: #F1F1F1;

}

#conteudo #slide-show span{
    float: left;
    height:430px;
}

#conteudo #slide-show .bt-nav-esq,#conteudo #slide-show .bt-nav-dir{
    width: 70px;
    border:solid 1px #929095;
}

#conteudo #slide-show .slides{
    width: 880px;
    overflow: hidden;
    border:solid 1px #929095;
}

#conteudo #slide-show .slides .slides-content{
    position: relative;
    display: table;
    width: 3620px;
}

#conteudo #slide-show .slides .slide{
    float: left;
    height:430px;
    width: 880px;
    border:solid 1px red;

}
