{% extends "templates/template_1/painel.twig" %}

{% block content %}

<center>
    <div style="max-width: 700px;">

<form method="post" action="{{url_module}}/entrar" class="form-inline form-ajax" id="formLogin" role="form">

    {# col-xs-11 col-sm-12 #}
    <div class="form-group col-sm-5">
        <label>Login</label>
        <input type="text" class="form-control" name="login"/>
    </div>

    <div class="form-group col-sm-5">
        <label>Senha</label>
        <input type="password" class="form-control" name="senha"/>
    </div>

    <div class="form-group col-sm-2">
        <label>&nbsp;</label>
        <button type="submit" class="form-control btn btn-primary">Login</button>
    </div>
</form>

    </div>
</center>
{% endblock %}