<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        TEMPLATE 1
        <div>{% block content %}{% endblock %}</div>
        {# _translate( $mode, $code = null, $replace = array(), $message = null ) #}
        {{_translate('block', 'TESTE')}}
    </body>
</html>