<!DOCTYPE html>
<html>
    <head>
        <title></title>
        {% set tplurl = url~'/media/templates/template_1' %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        
        <script> var hazoParam = { url: '{{url}}' }; </script>
        
        {# jQuery #}
        <script type="text/javascript" src="{{url}}/media/libs/jquery/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="{{url}}/media/libs/jquery/jquery-ui-1.10.3.custom.min.js"></script>
        <link type="text/css" rel="stylesheet" href="{{url}}/media/libs/jquery/css/custom-theme/jquery-ui-1.8.22.custom.css" />
        <script type="text/javascript" src="{{url}}/media/libs/jquery/jquery.form.js"></script>

        {# jQuery Bootstrap #}
        <script src="{{url}}/media/libs/bootstrap/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{{url}}/media/libs/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="{{url}}/media/libs/bootstrap/css/bootstrap-theme.min.css">
        
        {# jQuery NOTY # http://needim.github.io/noty/ #}
        <script type="text/javascript" src="{{url}}/media/libs/noty-master/js/noty/jquery.noty.js"></script>
        <script type="text/javascript" src="{{url}}/media/libs/noty-master/js/noty/layouts/top.js"></script>
        <script type="text/javascript" src="{{url}}/media/libs/noty-master/js/noty/themes/default.js"></script>
        
        {# jQuery MaskedInput #}
        <script type="text/javascript" src="{{url}}/media/libs/jquery/jquery.maskedinput.min.js"></script>
        
        {# Fancybox #}
        <script type="text/javascript" src="{{url}}/media/libs/fancyapps/source/jquery.fancybox.pack.js"></script>
        <link rel="stylesheet" href="{{url}}/media/libs/fancyapps/source/jquery.fancybox.css">

        {# CKEditor  #}
        <script src="{{url}}/media/libs/ckeditor/ckeditor.js"></script>
        <script src="{{url}}/media/libs/ckeditor/adapters/jquery.js"></script>
        
        {# Painel #}
        <script type="text/javascript" src="{{tplurl}}/painel/painel.js"></script>
        <link rel="stylesheet" href="{{tplurl}}/painel/painel.css">
        
    </head>
    <body>
        <div class="container">
            
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Painel</a>
                  </div>

                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Configurações <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="{{url}}/administrador/painel/configuracoes/contato">Alterar dados de contato</a></li>
                          <li><a href="{{url}}/administrador/painel/obras-realizadas">Obras Realizadas</a></li>
                          {#
                          <li><a href="#">Alterar página "A empresa"</a></li>
                          <li><a href="#"></a></li>
                          <li><a href="#">Something else here</a></li>
                          <li class="divider"></li>
                          <li><a href="#">Separated link</a></li>
                          <li class="divider"></li>
                          <li><a href="#">One more separated link</a></li>
                          #}
                        </ul>
                      </li>
                      <li><a href="{{url}}/administrador/painel/projeto/lista">Projetos</a></li>
                      {#
                      <li><a href="#">Contatos</a></li>
                      #}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Olá {{globals['usuario_online'].getNome()}} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          {#
                          <li><a href="{{url}}/administrador/painel">Alterar Senha</a></li>
                          <li class="divider"></li>
                          #}
                          <li><a href="{{url}}/administrador/sessao/sair">Sair</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
            
        
            <div id="msgError"></div>
            <div id="msgSuccess"></div>
            
            <div class="formulary well">{% block content %}{% endblock %}<div style="clear:both;"></div></div>
        
        </div>
        {# _translate( $mode, $code = null, $replace = array(), $message = null ) #}
            
        {% if errors %}
            <script>
                {% for msg in errors %}
                    showError("{{msg}}");
                {% endfor %}
            </script>
        {% endif %}
            
        {% if success %}
            <script>
                {% for msg in success %}
                    showSuccess("{{msg}}");
                {% endfor %}
            </script>
        {% endif %}
            
    </body>
</html>