<!DOCTYPE html>
<html>
    <head>
        <title></title>
        {% set tplurl = url~'/media/templates/template_1' %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        
        <script> var hazoParam = { url: '{{url}}' }; </script>
        
        {# jQuery #}
        <script type="text/javascript" src="{{url}}/media/libs/jquery/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="{{url}}/media/libs/jquery/jquery-ui-1.10.3.custom.min.js"></script>
        <link type="text/css" rel="stylesheet" href="{{url}}/media/libs/jquery/css/custom-theme/jquery-ui-1.8.22.custom.css" />
        <script type="text/javascript" src="{{url}}/media/libs/jquery/jquery.form.js"></script>

        {# jQuery Bootstrap #}
        <script src="{{url}}/media/libs/bootstrap/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{{url}}/media/libs/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="{{url}}/media/libs/bootstrap/css/bootstrap-theme.min.css">
        
        {# jQuery NOTY # http://needim.github.io/noty/ #}
        <script type="text/javascript" src="{{url}}/media/libs/noty-master/js/noty/jquery.noty.js"></script>
        <script type="text/javascript" src="{{url}}/media/libs/noty-master/js/noty/layouts/top.js"></script>
        <script type="text/javascript" src="{{url}}/media/libs/noty-master/js/noty/themes/default.js"></script>
        
        {# jQuery MaskedInput #}
        <script type="text/javascript" src="{{url}}/media/libs/jquery/jquery.maskedinput.min.js"></script>
        
        {# Fancybox #}
        <script type="text/javascript" src="{{url}}/media/libs/fancyapps/source/jquery.fancybox.pack.js"></script>
        <link rel="stylesheet" href="{{url}}/media/libs/fancyapps/source/jquery.fancybox.css">
        
        {# Painel #}
        <script type="text/javascript" src="{{tplurl}}/painel/painel.js"></script>
        <link rel="stylesheet" href="{{tplurl}}/painel/painel.css">
        
    </head>
    <body>
        <div>
        
            <div id="msgError"></div>
            
            <div class="formulary well">{% block content %}{% endblock %}<div style="clear:both;"></div></div>
        
        </div>
        {# _translate( $mode, $code = null, $replace = array(), $message = null ) #}
    </body>
</html>