{% extends "templates/template_1/painel-online.twig" %}

{% block content %}

<form method="post" action="{{url_module}}/entrar" class="form-inline" id="formLogin" role="form">

    {# col-xs-11 col-sm-12 #}
    <div class="form-group col-sm-5">
        <label>Login</label>
        <input type="text" class="form-control" name="login"/>
    </div>

    <div class="form-group col-sm-5">
        <label>{{_translate('painel', 'TXT_SENHA')}}</label>
        <input type="password" class="form-control" name="senha"/>
    </div>

    <div class="form-group col-sm-2">
        <label>&nbsp;</label>
        <button type="submit" class="form-control btn btn-primary">Login</button>
    </div>
</form>
{#
<br/><br/><br/>

<form role="form">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" id="exampleInputFile">
    <p class="help-block">Example block-level help text here.</p>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Check me out
    </label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
#}
{% endblock %}