{% extends "templates/template_1/painel-online.twig" %}

{% block content %}

{% set action = Obra.getID() ? url_module~'/alterar/'~Obra.getID() : url_module~'/criar' %}

<form method="post" action="{{action}}" class="form-ajax" role="form" enctype='multipart/form-data'>

    {# col-xs-11 col-sm-12 #}
    
    <div class="form-group col-sm-12">
        <label>{{ Obra.getID() ? "Alterar Imagem" : "Adicionar Imagem"}}</label>
        <p><input type="file" name="file"/></p>
    </div>
    
    <div class="form-group col-sm-12">
        <label>Descrição da Obra <small><i>(Opcional)</i></small></label>
        <textarea class="form-control ckeditor-simples" name="descricao" rows="4">{{Obra.getDescricao()}}</textarea>
    </div>
    
    {% if Obra.getID() %} 
        <div class="form-group col-sm-12" id="dv_imgs">
            <div style="float: left; border:2px solid #999; margin: 4px 10px 4px 0px; padding: 4px 10px 4px 4px;" id="dv_{{id}}">
                <img src="{{Obra.getImageUrl(150)}}"/></a>
            </div>
        </div>
        <div style="clear: both;"></div>
    {% endif %} 
    {#
    
        {% for id,imagem in imagens %}
        {% endfor %} 
        
    #}
    
    <br/>
    <div class="form-group col-sm-6">
        <label>
            <button type="submit" class="btn btn-primary btn-submit">Salvar alterações</button>
        </label>
    </div>
    {% if Obra.getID() %}
    <div class="form-group col-sm-6">
        <label>
            <a href="#" onclick="excluir()" class="btn btn-danger">Excluir Obra</a>
        </label>
    </div>
    {% endif %}
    
</form>

<script>
    function excluir(){
        if( confirm("Deseja realmente excluir esta obra?") ){
            $.ajax({
                dataType: 'json',
                type: 'post',
                url: '{{url_module}}/excluir/{{Obra.getID()}}',
                success: function(data){
                    if( data.status ){
                        window.location = data.redirect;
                    }else{
                        alert(data.msg);
                    }
                }
            });
        }
        return false; //evita # na url
    }
</script>

{% endblock %}