{% extends "templates/template_1/painel-online.twig" %}

{% block content %}
    
<style>
    .lst-prj{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .lst-prj li{
        margin: 4px;
        padding: 5px;
    }
</style>

{% if obras['cont_total'] > 0 %}

<p><b>Selecione a obra para editar:</b></p>

    {% for Obra in obras['rows'] %}
        <a href="{{url_mode}}/obras-realizadas/edicao/{{Obra.getID()}}">
            <img src="{{Obra.getImageUrl(150)}}" style="float:left;margin:5px;"/>
        </a>
    {% endfor %}

<div style="clear:both;"></div>
<hr/>

{% else %}

<center>
    <br/>
    <i>Nenhuma obra cadastrada</i>
</center>

{% endif %}

<p>
    <a href="{{url_module}}/novo" class="btn btn-primary">Cadastrar nova obra</a>
</p>

{% endblock %}