{% extends "templates/template_1/painel-online.twig" %}

{% block content %}

<div>

    {# col-xs-11 col-sm-12 #}
    <div class="form-group col-sm-12">
        <label>Nome do Projeto</label>
        <input type="text" class="form-control" readonly value="{{Projeto.getTitulo()}}"/>
    </div>
    
    {% if imagens %} 
        <div class="form-group col-sm-12">
            <label>Imagens do projeto</label><br/>
    
        {% for imagem in imagens %}
            <img src="{{imagem}}"/>
        {% endfor %} 
        
        </div>
    
    {% endif %}
    <br/>

    {% if modelos['cont_total'] > 0 %}
    
        {% for Modelo in modelos['rows'] %}
            <div class="form-group col-sm-12">
                <label><a href="{{url_mode}}/projeto-modelo/visualizacao/{{Projeto.getSlug()}}/{{Modelo.getSlug()}}">{{Modelo.getTitulo()}}</a></label>
            </div>
        {% endfor %}
    
    {% else %}
    
        <div class="form-group col-sm-12">
            <label>
                <i>Nenhum modelo cadastrado</i>
            </label>
        </div>
    
    {% endif %}

    <div class="form-group col-sm-12">
        <label>
            <a href="{{url_mode}}/projeto-modelo/novo/{{Projeto.getSlug()}}">Cadastrar novo modelo</a>
        </label>
    </div>
    <hr/>

    <div class="form-group col-sm-12">
        <label>
            <a href="{{url_module}}/edicao/{{Projeto.getSlug()}}" class="btn btn-primary">Alterar dados e imagens do projeto</a>
        </label>
    </div>
</div>

{% endblock %}