<!DOCTYPE html>
<html>
    {% set url_tpl = url~"/media/templates/cwb" %}
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link href="{{url_tpl}}/css/reset.css" type="text/css" rel="stylesheet"/>
        <link href="{{url_tpl}}/css/estrutura.css" type="text/css" rel="stylesheet"/>
        <link href="{{url_tpl}}/css/projetos.css" type="text/css" rel="stylesheet"/>
        <script src="{{url_tpl}}/js/jquery-1.11.0.min.js"></script>
        <script src="{{url_tpl}}/js/jquery-rnt-tabs.js"></script>

        <script>
            $(function() {
                $("#tabs").tabs();
            });
        </script>
        <!--[if IE]><script src="{{url_tpl}}/js/html5shiv.js"></script><![endif]-->
    </head>
    <body>
        <!--[if IE]><div>UTILIZE O CHROME</div><![endif]-->
    <main>
        <header id="cabecalho">
            <div id="bannerTopo">
                <a href="{{url}}">
                    <img src="{{url_tpl}}/img/logo.png" alt="CWB Brazilians"/>
                </a>
            </div>

            <nav>
                <ul>
                    <li><a href="{{url}}/projetos" title="Projetos">Projetos</a></li>
                    <li><a href="obrasRealizadas.html" title="Obras realizadas">Obras realizadas</a></li>
                    <li><a href="contato.html" title="Contato">Contato</a></li>
                    <li><a href="empresa.html" title="A Empresa">A Empresa</a></li>
                </ul>
            </nav>
        </header>

        <div id="conteudo">{% block content %}{% endblock %}</div>

        {% set tel_oi = getBlooco('contato_tel_oi') %}
        {% set tel_tim = getBlooco('contato_tel_tim') %}
        {% set tel_vivo = getBlooco('contato_tel_vivo') %}
        {% set tel_claro = getBlooco('contato_tel_claro') %}
        
        <footer id="rodape">
            {% if tel_oi or tel_tim or tel_vivo or tel_claro %}
            <dl>
                <dt>Telefones :</dt>
                {% if tel_tim %}
                <dd class="oper-tim">{{tel_tim}}</dd>
                {% endif %}
                
                {% if tel_vivo %}
                <dd class="oper-vivo">{{tel_vivo}}</dd>
                {% endif %}
                
                {% if tel_oi %}
                <dd class="oper-oi">{{tel_oi}}</dd>
                {% endif %}
                
                {% if tel_claro %}
                <dd class="oper-claro">{{tel_claro}}</dd>
                {% endif %}
            </dl>
            {% endif %}
            <p class="copyright">Copyright &copy; 2014 - CWB Brazilians - Todos os Direitos Reservados.</p>
        </footer>
    </main>
</body>
</html>