.container{
    
}
.formulary{
    display: block;
    padding: 10px 12px 15px 12px;
    margin: 0 auto;
    background-color: #BBB;
}

#msgError{
    display: none;
    padding: 10px 12px 15px 12px;
    margin: 5px auto;
    background-color: #cb1d39;
    color: #FFF;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}

#msgSuccess{
    display: none;
    padding: 10px 12px 15px 12px;
    margin: 5px auto;
    background-color: #3a712d;
    color: #FFF;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}