<div style="width: 500px;margin:auto;border:4px solid #aaa;padding:20px;">
    
    <center>
        <b>Olá {{Destinatario}}, você recebeu uma nova mensagem de contato do site brazilianscasas.com.br</b>
        <br/><br/>
    </center>
        
    {% if Projeto %}
    <b>Projeto:</b> {{Projeto.getTitulo()}} <br/><br/>
    {% endif %}
    
    <b>Nome:</b> {{Nome}} <br/>
    
    {% if Telefone %}
    <b>Telefone:</b> {{Telefone}} <br/>
    {% endif %}
    
    <b>E-mail:</b> {{Email}} <br/>
    
    {% if Local %}
    <b>Local de Construção:</b> {{Local}} <br/>
    {% endif %}
    
    <b>Mensagem:</b>
    <p style="margin-left:20px;"><i>{{Mensagem}}</i></p>
    
</div>