{% extends "template.twig" %}

{% set tab_contato = true %}

{% block content %}

<link href="{{url_tpl}}/css/contato.css" type="text/css" rel="stylesheet"/>

<h1>Contato</h1>


<form method='post' action="{{url}}/contato/enviar">
    <div class="contato-enviado" style="color:green;position:absolute;visibility:hidden;">
        <br/>
        <center>
            <p><b>Contato enviado com sucesso!</b></p>
        </center>
        <br/>
    </div>
    <span class="form-contato" style="">
        <p><label>Seu nome:</label><input type="text" name="nome" class="inputTam01"  required="required"/></p>
        <p><label>E-mail:</label><input type="email" name="email" class="inputTam01" required="required"/></p>
        <p><label class="labelTextArea">Digite sua Mensagem:</label></p>
        <p>
            <textarea name="mensagem"></textarea>
        </p>
        <p><input type="submit" value="Enviar"/></p>
    </span>
</form>

<script>
    $("form").ajaxForm({
        dataType: "json",
        success: function(data){
            if( data.status ){
                $('.form-contato').css('visibility','hidden');
                $('.contato-enviado').css('visibility','visible');
            }else{
                alert(data.msg);
            }
        }
    });
</script>
{% endblock %}