{% extends "core/pages/template/main.html" %}

{% block content %}

{% include "painel.html" %}

<style>
    .dv-shw-refs{
        margin-left: 50px;
        margin-top: 30px;
    }
    .dv-shw-refs ul li{
        list-style: none;
        border-left-color: #333;
        border-left-style: dashed;
        border-left-width: 1px;
    }
    .dv-shw-refs *{
        color: #FFF;
        text-decoration: none;
        font-weight: bold;
    }
    .dv-shw-refs * a{
        font-weight: normal;
        font-style: italic;
    }
    .dv-shw-refs * a:hover{
        color: orange;
    }
</style>


<div class="dv-shw-refs">
    {{uls|raw}}
</div>

{% endblock %}