#conteudo {
  padding-left: 390px;  
}



#conteudo form label{
    display: inline-block;
    width: 130px;
}

#conteudo form input{
    height: 28px;
    border:solid 1px #929095;
    margin-bottom: 15px;
    padding:0 10px; 
}

#conteudo form input[type='text'], #conteudo form input[type='email']{
    width: 437px;
}

#conteudo form textarea{
    width: 580px;
    height: 180px;
}

#conteudo form .labelTextArea{
    width: 230px;
}