#conteudo {
    padding-left: 390px;  
    padding-bottom: 20px;
    padding-right: 20px;
}

#conteudo ul{
    padding-left: 30px;
}

#conteudo ul li{
    list-style: disc;
     margin-bottom: 5px;
}


