body{
    background: #F1F1F1;
}

h2{
    margin: 24px 0px;
    font-size: 24px;
}

h3{
    margin: 15px 0px;
    font-size: 16px;
}

main{
    display: table;
    width: 1100px;
    margin: auto;
    background-color: white;
}

main #cabecalho, main #conteudo, main #rodape{
    border:solid 1px #008898;
}


main #cabecalho header nav ul{
    display: table;
}

main #conteudo {
    padding: 20px;
}

main header nav ul li{
    float: left;
    width: 158px;
    height: 31px;
    text-align: center;
    padding-top: 15px;
    border:solid 1px #008898;
}

main header nav ul li:hover{
    background-color: #F1F1F1;
}

/*****   Telefones  **********************/
main footer dl{
    padding-left: 15px; 
    width: 240px;
}

main footer dt{
}

main footer dd{
    padding-left: 30px;
    padding-top: 10px;
    line-height: 17px;
}

main footer .oper-tim,main footer .oper-claro,main footer .oper-oi, main footer .oper-vivo{
    background-repeat: no-repeat;
    background-position: right;
}

main footer .oper-tim{
    background-image: url("../img/operadora-tim.png"); 
}
main footer .oper-vivo{
    background-image: url("../img/operadora-vivo.png"); 
}  

main footer .oper-oi{
    background-image: url("../img/operadora-oi.png"); 
}
main footer .oper-claro{
    background-image: url("../img/operadora-claro.png"); 
} 
/*****   Telefones  **********************/

main footer .copyright{
    text-align: center;
    font-size: small;
    margin-bottom: 10px;
}
