#conteudo{
    display: table;
    padding-right: 10px;
}
#conteudo #projetos{
    float: left;
}
#conteudo #projetos ul{
    
}
#conteudo #projetos ul li{
    width:245px;
    border: solid 1px #C7C7C7;
    padding:10px;
    margin-top: 10px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;    
    
    font-size: 18px;
}

#conteudo #tabs{
    float: left;
    width: 740px;
    margin-left: 10px;
    padding: 20px;
    
}

#conteudo #tabs div{
    padding: 15px;
    border:solid 1px #cccccc;
    height: 650px;
}

#conteudo #tabs ul{
    display: table;
}

#conteudo #tabs .tab li{
    float: left;
    margin-right: 3px;
    padding: 5px;
    border:solid 1px #cccccc;
}

#conteudo #tabs form input{
    height: 28px;
    border:solid 1px #929095;
    margin-bottom: 15px;
    padding:0 10px; 
}

#conteudo #tabs form label{
    display: inline-block;
    width: 130px;
}

#conteudo #tabs form .inputTam01{
    width: 437px;
}

#conteudo #tabs form .inputTam02{
    width: 65px;
    margin-right: 60px;
}

#conteudo #tabs form .inputTam03{
    width: 158px;
}

#conteudo #tabs form .labelTextArea{
    width: 230px;
}

#conteudo #tabs form textarea{
    width: 580px;
    height: 180px;
}

#conteudo #tabs .planta-baixa{
    padding-left: 445px;
}

#conteudo #tabs .planta-baixa li{
   width: 218px;
   height: 20px;
   margin-bottom: 20px;
   padding: 15px;
   border:solid 1px #929095;
}


.selected{
    background-color: #F1F1F1;
}
