{% extends "templates/template_1/painel-online.twig" %}

{% block content %}
    
<style>
    .lst-prj{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .lst-prj li{
        margin: 4px;
        padding: 5px;
        background-color: #DDD;
    }
    .lst-prj li a{
        line-height: 25px;
        vertical-align: middle;
    }
    .setas{
        float: left;
        padding-right: 5px;
    }
    .setas span{
        cursor: pointer;
        margin: 5px;
    }
</style>

<script>
    function changeProj( projeto_slug ){
        $.ajax({
            url: "{{url_module}}/alterar-ordenacao/"+projeto_slug,
            success: function(){
                window.location = window.location;
            }
        });
    }
</script>

{% if projetos['cont_total'] > 0 %}

<p><b>Selecione o projeto para visualizar:</b></p>

<ul class="lst-prj">
    {% for Projeto in projetos['rows'] %}
    <li>
        <div class="setas">
            <span class="glyphicon glyphicon-arrow-up" title="Exibir antes" onclick="changeProj('{{Projeto.getSlug()}}')"></span>
        </div>
        <a href="{{url_mode}}/projeto/visualizacao/{{Projeto.getSlug()}}" title="Visualizar Projeto">{{Projeto.getTitulo()}}</a>
        <div style="clear:both;"></div>
    </li>
    {% endfor %}
</ul>

<br/>
<p>
    <i>A ordem dos projetos estão exibidos de acordo com o exibido no site.
    Para alterar a ordem de exibição no site (menu lateral), clique na seta para mudar.</i>
</p>
    
{% else %}

<center>
    <br/>
    <i>Nenhum projeto cadastrado</i>
</center>

{% endif %}

<br/><br/>
<p>
    <a href="{{url_module}}/novo" class="btn btn-primary">Cadastrar novo projeto</a>
</p>

{% endblock %}