{% extends "templates/template_1/painel-online.twig" %}

{% block content %}

<style>
    .index{
       position: absolute; 
       color: #FFF;
       background-color: #000;
       padding: 1px 4px;
    }
    span.seta-left{
        cursor: pointer;
        margin: 17px 0;
    }
</style>

<script>
    function changePos( imagem_id ){
        $.ajax({
            url: "{{url_module}}/alterar-ordenacao-imagens/{{Projeto.getSlug()}}/"+imagem_id,
            success: function(){
                window.location = window.location;
            }
        });
    }
</script>
    
<div>

    {# col-xs-11 col-sm-12 #}
    <div class="form-group col-sm-12">
        <label>Nome do Projeto</label>
        <input type="text" class="form-control" readonly value="{{Projeto.getTitulo()}}"/>
    </div>
    
    {% if imagens %} 
        <div class="form-group col-sm-12">
            <label>Imagens do projeto</label><br/>
    
        {% set i = 0 %}
        {% for Imagem in imagens %}
            {% set i = i+1 %}
            <label>
                <span class="index">
                    {{i}}
                    <br/>
                    <span class="glyphicon glyphicon-arrow-left seta-left" title="Exibir antes" onclick="changePos('{{Imagem.getID()}}')"></span>
                </span>
                <img src="{{Imagem.tmpFileUrl}}"/>
            </label>
        {% endfor %} 
        
        </div>
    
    {% endif %}
    <br/>

    {% if modelos['cont_total'] > 0 %}
    
        {% for Modelo in modelos['rows'] %}
            <div class="form-group col-sm-12">
                <label><a href="{{url_mode}}/projeto-modelo/visualizacao/{{Projeto.getSlug()}}/{{Modelo.getSlug()}}">{{Modelo.getTitulo()}}</a></label>
            </div>
        {% endfor %}
    
    {% else %}
    
        <div class="form-group col-sm-12">
            <label>
                <i>Nenhum modelo cadastrado</i>
            </label>
        </div>
    
    {% endif %}

    <div class="form-group col-sm-12">
        <label>
            <a href="{{url_mode}}/projeto-modelo/novo/{{Projeto.getSlug()}}">Cadastrar novo modelo</a>
        </label>
    </div>
    <hr/>

    <div class="form-group col-sm-12">
        <label>
            <a href="{{url_module}}/edicao/{{Projeto.getSlug()}}" class="btn btn-primary">Alterar dados e imagens do projeto</a>
        </label>
        <label>
            &nbsp;&nbsp;
            <a href="{{url_module}}/excluir/{{Projeto.getSlug()}}" class="btn btn-danger" onclick="return confirm('Deseja realmente excluir este projeto e todos os seus modelos?')">Excluir projeto</a>
        </label>
    </div>
</div>

{% endblock %}