<span style='color: #000'>1624 frames</span>	<span style='color: #900'>27,392 KB</span>	<span style='color: #090'>1,752.31 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />